<!DOCTYPE html>
<html>

<head>
    <title>Prediction demo</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <script src="{{url_for('static',filename='controls.js')}}"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <div class="team_0">
        <h>team0</h></br></br>
        <input type="text" value="" id="pick_0"></br></br>
        <input type="text" value="" id="pick_1"></br></br>
        <input type="text" value="" id="pick_2"></br></br>
        <input type="text" value="" id="pick_3"></br></br>
        <input type="text" value="" id="pick_4">
    </div>
    <div class="team_1">
        <h>team1</h></br></br>
        <input type="text" value="" id="pick_5"></br></br>
        <input type="text" value="" id="pick_6"></br></br>
        <input type="text" value="" id="pick_7"></br></br>
        <input type="text" value="" id="pick_8"></br></br>
        <input type="text" value="" id="pick_9">
    </div>
    <button onclick="saveData()" id="saveButton">save</button>
    <button onclick="predict()" id="predictButton">predict</button>
</body>

</html>
