.team_0 {
    /* Location */
    position: relative;
    margin: auto;
    left: 0;
    right: 0;

    /* Style */
    width: 70%;
    height: 350px;
    box-shadow: 0 0 2px 1px rgba(240, 240, 240, 0.8) inset,
        0 .5em rgba(230, 230, 230, 0);
    text-align: center;
}

.team_1 {
    /* Location */
    position: relative;
    margin: auto;
    left: 0;
    right: 0;

    /* Style */
    width: 70%;
    height: 350px;
    box-shadow: 0 0 2px 1px rgba(240, 240, 240, 0.8) inset,
        0 .5em rgba(230, 230, 230, 0);
    text-align: center;
}

#saveButton{
    position: absolute;
    margin: auto;
    left:0;
    right:0;
    top: 720px;
    width: 200px;
}

#predictButton{
    position: absolute;
    margin: auto;
    left:0;
    right:0;
    top: 745px;
    width: 200px;
}